{% extends 'base.html' %}

{% block container %}
    <h1>This is Secret Santa Project home page!</h1>
    {% if current_user.is_authenticated %}
    <p>
        You are alredy logged in.
        Proceed to your Cabinet by pressing "Cabinet" in the top of this page,
        or press link below:
    </p>
    <a href="{{ url_for('cabinet') }}">Cabinet</a>
    {% else %}
    <p>
        To proceed you need to login first!
        Press "Login" in the top of the page or click the link below:
    </p>
    <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
{% endblock %}
